.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Vollkorn Self', sans-serif;
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Vollkorn Self', sans-serif;
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Vollkorn Self', sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

a {
  color: #333;
  text-decoration: underline;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 50%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hero-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  padding: 0px 40px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background-color: #fff;
}

.hero-name-text {
  padding-top: 0px;
  padding-left: 0px;
  font-family: Sacramento;
  font-size: 48px;
  line-height: 70px;
}

.button-cta {
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #e17055;
  box-shadow: 1px 1px 150px 0 rgba(225, 112, 85, 0.3);
  font-family: Plusjakartatext, sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}

.button-cta.mobile {
  display: none;
}

.hero-title {
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 42px;
}

.bold-text {
  font-size: 52px;
  line-height: 60px;
}

.about-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e17055;
  color: #fff;
}

.about-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 40px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Vollkorn Self', sans-serif;
  font-size: 48px;
  line-height: 62px;
  text-align: right;
}

.about-paragraph {
  width: 70%;
  padding-left: 40px;
  opacity: 1;
  font-family: Plusjakartadisplay, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
}

.body {
  margin-right: 0px;
  margin-left: 0px;
}

.about-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.work-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-section.alternative {
  margin-top: 140px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.work-avocation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-top: 20px;
  padding: 0px 60px;
  border-radius: 0px;
  background-color: #ffe9d0;
}

.work-avocation-image-container {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.work-avocation-description-awards-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100px;
  max-width: 240px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.avocation-award-image {
  width: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.work-avocation-description {
  margin-bottom: 40px;
  font-family: Plusjakartatext, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.work-avocation-description.moodmonk {
  color: #fff;
}

.work-avocation-image {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.experience-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-more-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-app {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-height: 550px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.work-avocation-link-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.work-avocation-link {
  margin-left: 5px;
  font-family: Plusjakartatext, sans-serif;
  color: #836949;
  font-size: 18px;
  line-height: 22px;
}

.work-avocation-link.moodmonk {
  color: #fcbb6f;
}

.work-avocation-link-text {
  font-family: Plusjakartatext, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.work-avocation-link-text.moodmonk {
  color: #fff;
}

.work-more-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.work-more-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 50px;
  cursor: pointer;
}

.experience-timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.experience-timeline-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.experience-timeline-item-logo {
  width: 280px;
  max-height: 120px;
  max-width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
}

.experience-timeline-item-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.experience-timeline-item-divider {
  width: 2px;
  margin-right: 35px;
  margin-left: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #979797;
  opacity: 0.2;
  color: #979797;
}

.blog-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.experience-timeline-item-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.experience-timeline-item-date {
  opacity: 0.7;
  font-family: Plusjakartatext, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #3e3e3e;
  color: #fff;
}

.blog-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-entry-container {
  margin: 15px;
  padding: 20px 40px 40px;
  border-radius: 40px;
  background-color: #ebcba7;
  color: #333;
  text-decoration: none;
}

.blog-entry-container.blog-entry-dark {
  background-color: #3e3e3e;
  color: #fff;
}

.blog-entry-container.blog-entry-light {
  background-color: #ffe9d0;
}

.blog-entry-meta-text {
  opacity: 0.6;
  font-family: Plusjakartatext, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.blog-merged-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-link-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-link {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-family: Plusjakartatext, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.work-moodmonk-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 60px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background-color: #4a3f66;
}

.work-moodmonk-container.moodmonk {
  max-width: 1400px;
  margin-left: auto;
  border-radius: 0px;
}

.work-webdesign-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-webdesign-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-icon {
  width: 50px;
  margin-bottom: 10px;
}

.work-webdesign-grid {
  max-width: 1200px;
}

.work-webdesign-item-image {
  border-radius: 8px;
}

.work-section-avocation-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.not-found-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.not-found-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.header-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 60px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.language-selection-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.language-selection-divider {
  display: block;
  width: 1px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #000;
}

.language-selection-link {
  font-family: Plusjakartatext, sans-serif;
  color: #a8a8a8;
  text-decoration: none;
}

.language-selection-link:hover {
  text-decoration: underline;
}

.language-selection-link.w--current {
  color: #414141;
  font-weight: 700;
}

.hero-logo {
  -o-object-fit: contain;
  object-fit: contain;
}

.appstore-icon {
  margin-bottom: 10px;
}

.hero-social-container {
  margin-bottom: 40px;
}

.hero-social-container.mobile {
  display: none;
}

.social-link {
  width: 40px;
  margin-right: 20px;
}

.about-link {
  color: #fff;
}

.footer-info-container {
  width: 250px;
  font-family: Plusjakartadisplay, sans-serif;
  color: #fff;
}

.footer-logo {
  width: 100px;
  max-width: none;
  margin-bottom: 20px;
}

.footer-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 150px;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.footer-info-text {
  font-size: 16px;
  line-height: 21px;
}

.footer-sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .hero-section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero-content-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .hero-image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 500px;
    padding-right: 60px;
    padding-left: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    background-image: none;
  }

  .hero-image {
    max-width: 400px;
  }

  .hero-title {
    max-width: 800px;
  }

  .about-section {
    margin-top: 60px;
  }

  .about-content-container {
    width: 80%;
  }

  .work-section {
    margin-top: 100px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .work-section.alternative {
    margin-top: 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .work-avocation-container {
    width: 100%;
    max-width: none;
    padding-left: 140px;
  }

  .work-avocation-image-container {
    display: block;
  }

  .work-more-content-container {
    width: 90%;
  }

  .work-moodmonk-container.moodmonk {
    width: 100%;
    max-width: none;
  }

  .work-section-avocation-header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1920px) {
  body {
    max-width: 1800px;
  }

  h3 {
    font-family: 'Vollkorn Self', sans-serif;
  }

  .hero-section {
    padding-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero-content-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .hero-image-container {
    max-width: 30%;
    border-radius: 80px;
    background-image: none;
  }

  .button-cta {
    font-family: Plusjakartatext, sans-serif;
  }

  .hero-title {
    max-width: 800px;
  }

  .about-section {
    margin-top: 100px;
    border-radius: 50px;
  }

  .body {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }

  .about-content-container {
    width: 90%;
  }

  .work-section.alternative {
    border-radius: 80px;
  }

  .work-avocation-container {
    max-width: 1300px;
    padding-left: 100px;
    border-radius: 50px;
  }

  .work-avocation-image-container.moodmonk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    min-width: 400px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .div-block-2 {
    max-width: 500px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .work-avocation-image {
    width: 100px;
    margin-bottom: 20px;
  }

  .work-more-content-container {
    width: 80%;
  }

  .work-more-element {
    max-width: 900px;
  }

  .experience-timeline {
    width: 600px;
    margin-top: 40px;
  }

  .experience-timeline-item-logo {
    width: 280px;
    max-height: 120px;
    max-width: 280px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 100% 50%;
    object-position: 100% 50%;
  }

  .experience-timeline-item-description {
    width: 280px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .footer {
    border-radius: 0px;
  }

  .blog-entry-container {
    background-color: #ffb580;
  }

  .work-moodmonk-container {
    max-width: 1400px;
    margin-left: auto;
    padding-right: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 80px;
  }

  .work-moodmonk-container.moodmonk {
    width: 100%;
    max-width: 1300px;
    border-radius: 50px;
  }

  .heading {
    font-family: 'Vollkorn Self', sans-serif;
  }
}

@media screen and (max-width: 991px) {
  .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-content-container {
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-image-container {
    display: none;
  }

  .hero-image-container.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    padding-right: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-image {
    max-width: 400px;
  }

  .button-cta {
    display: none;
  }

  .button-cta.mobile {
    display: block;
  }

  .hero-title {
    margin-bottom: 0px;
    text-align: center;
  }

  .bold-text {
    text-align: left;
  }

  .about-section {
    margin-top: 40px;
  }

  .about-paragraph {
    width: 100%;
    margin-top: 20px;
    padding-left: 0px;
    text-align: justify;
  }

  .about-content-container {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .work-section {
    margin-top: 60px;
  }

  .work-avocation-container {
    padding-left: 40px;
  }

  .work-avocation-image-container {
    display: none;
  }

  .experience-section {
    margin-top: 60px;
  }

  .work-more-container {
    margin-top: 60px;
  }

  .image-app {
    display: block;
  }

  .work-more-content-container {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .blog-merged-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .work-section-avocation-header-container {
    margin-bottom: 10px;
  }

  .hero-social-container {
    display: none;
  }

  .hero-social-container.mobile {
    display: block;
  }

  .social-link {
    margin-left: 20px;
  }

  .footer-section {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .hero-content-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .bold-text {
    font-size: 48px;
    line-height: 62px;
  }

  .about-paragraph {
    width: 100%;
  }

  .work-avocation-container {
    width: 100%;
    padding-right: 40px;
    border-radius: 0px;
  }

  .div-block-2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .work-avocation-description-awards-container {
    max-height: 100%;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .avocation-award-image {
    height: 100px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .experience-section {
    margin-top: 40px;
  }

  .work-more-content-container {
    width: 60%;
  }

  .experience-timeline {
    width: 100%;
    padding-left: 10px;
  }

  .blog-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blog-content-container {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .blog-entry-container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .work-moodmonk-container {
    border-radius: 0px;
  }

  .work-webdesign-grid {
    padding: 0px 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .language-selection-container {
    margin-top: 20px;
  }

  .footer-info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-info-text {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 24px;
    line-height: 31px;
  }

  h3 {
    font-size: 21px;
    line-height: 23px;
  }

  .hero-section {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-content-container {
    width: 80%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .hero-image-container {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-image-container.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
  }

  .hero-image {
    width: 100%;
    max-width: 300px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .button-cta {
    display: none;
    padding-top: 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .button-cta.mobile {
    display: block;
  }

  .hero-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 31px;
  }

  .bold-text {
    font-size: 36px;
    line-height: 47px;
  }

  .about-section {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about-heading {
    padding-right: 0px;
    font-size: 24px;
    line-height: 31px;
  }

  .about-paragraph {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }

  .about-content-container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .work-avocation-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .work-avocation-description-awards-container {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .work-avocation-description-awards-container.moodmonk {
    width: 100%;
  }

  .avocation-award-image {
    height: 60px;
    max-width: 50%;
  }

  .work-avocation-description {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
  }

  .work-avocation-link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .work-avocation-link {
    font-size: 16px;
    line-height: 19px;
  }

  .work-avocation-link-text {
    font-size: 16px;
    line-height: 19px;
  }

  .work-more-content-container {
    width: 80%;
  }

  .experience-timeline {
    width: 100%;
    padding-left: 0px;
  }

  .experience-timeline-item {
    margin-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .experience-timeline-item-logo {
    width: 100%;
    max-height: 100px;
    max-width: 100%;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .experience-timeline-item-description {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .experience-timeline-item-divider {
    display: none;
  }

  .blog-section {
    margin-top: 20px;
  }

  .experience-timeline-item-heading {
    text-align: center;
  }

  .experience-timeline-item-date {
    font-size: 16px;
    line-height: 19px;
  }

  .blog-entry-container {
    margin: 10px 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .blog-entry-meta-text {
    font-size: 16px;
    line-height: 19px;
  }

  .footer-link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-link {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .work-moodmonk-container.moodmonk {
    padding: 0px 20px;
  }

  .hero-social-container {
    display: none;
  }

  .hero-social-container.mobile {
    display: block;
  }

  .social-link {
    margin-left: 20px;
  }

  .footer-sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#w-node-bc5a4ab2-c017-2ea9-2ed6-342021fe70ef-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7e11dede-b12b-2374-7bdb-15de80c5cbf8-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9adeff6a-c8ff-fee9-ad3b-a145e4094daf-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f451c546-e148-bdce-cf1c-1a3f255b94f6-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a162ecec-b805-6d3a-1624-141a717cae36-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_95c8c745-b418-69a3-571f-0bf2a0064f57-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0a3c6f2-4e69-6b43-6a09-0bd4de3456d2-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0843a007-9dc7-38d9-227e-c81bfc049c75-a3cd0696 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bc5a4ab2-c017-2ea9-2ed6-342021fe70ef-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7e11dede-b12b-2374-7bdb-15de80c5cbf8-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9adeff6a-c8ff-fee9-ad3b-a145e4094daf-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f451c546-e148-bdce-cf1c-1a3f255b94f6-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a162ecec-b805-6d3a-1624-141a717cae36-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_95c8c745-b418-69a3-571f-0bf2a0064f57-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0a3c6f2-4e69-6b43-6a09-0bd4de3456d2-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0843a007-9dc7-38d9-227e-c81bfc049c75-80bf010b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Plusjakartatext';
  src: url('../fonts/PlusJakartaText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartatext';
  src: url('../fonts/PlusJakartaText-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartatext';
  src: url('../fonts/PlusJakartaText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartatext';
  src: url('../fonts/PlusJakartaText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartatext';
  src: url('../fonts/PlusJakartaText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartatext';
  src: url('../fonts/PlusJakartaText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vollkorn Self';
  src: url('../fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}